:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #000000;
    --gray : #8b8f98;
    --gray-black:#343535;
    --gray-white: #bcbcbe66;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --white: #fffffe;
}

.App{
    /* padding: 0.5rem 3.5rem; */
    overflow: hidden;
    color: var(--black);   
    background-color: var(--black); 
}

.button {
    background: linear-gradient(180deg, #fffffe 26.71%, #afaeac 99.36%);
    /* box-shadow: 0px 20px 24px 3px rgba(247, 246, 245, 0.42); */
    border-radius: 34px;
    border: none;
    color: var(--black);
    font-size: 12px;
    padding: 16px 26px 16px 26px;
    transition: 0.5s;
  }
  
  .button:hover {
    background: var(--black);
    cursor: pointer;
    border: none;
    color: var(--white);
    background-color: #a3a3f1;
  }
  
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }
