.Problem {
    padding: 0.5rem 3.5rem;
    display: flex;
    height: 77vh;
    margin-top: -3rem;
    color: var(--white);

  }
  
  .form{
    margin-bottom: -5rem;
  }
  
  /* left side styling */
  .i-lefts-3 {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .i-names-3 {
    display: flex;
    flex-direction: column;
    color: var(--white);
    animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
  }

  .i-names-3 > :nth-child(1) {
    color: var(--white);
    font-weight: 600;
    font-size: 8.3rem;
    margin-top: 50px;
  }
  .i-names-3 > :nth-child(2) {
    color: var(--white);
    font-weight: 600;
    font-size: 8.3rem;
    margin-top: -50px;
  }
  .i-names-3 > :nth-child(3) {
    font-size: 8.3rem;
    color: var(--white);
    margin-top: -50px;
    font-weight: 600;
  }

  .i-names-3 > :nth-child(4) {
    font-size: 8.3rem;
    color: var(--white);
    margin-top: -50px;
    font-weight: 600;
  }
  
  .i-names-3 span{
    color: var(--gray);
  }
  
  
  /* right side styling */
  .i-right-s-3 {
    position: relative;
    margin-top: 550px;
    left: -150px;
  }
  .i-right-s > * {
    position: absolute;
    z-index: 1;
  }
  .i-right-s > :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
  }
  .i-right-s > :nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
  }
  .i-right-s > :nth-child(3) {
    transform: scale(1.4);
    left: 28%;
  }
  .i-right-s > :nth-child(4) {
    transform: scale(0.62);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
  }
  
  /* blur */
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
  }
  
  .btn-1{
    display: flex;
    justify-content: space-between;
  }
  
  .btn-1 .r-button{
    flex: 2;
    border-radius: 30px;
  }

  .myVideo1{
    position: absolute;
    min-width: 100px;
    object-fit: cover;
    right: 0;
    left: 0;
    margin-top: 41px;
  }

  .i-right-s-3 .com{
    margin-top: -15px;
  }

  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }
  
  @media screen and (max-width: 480px) {
    .Intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
  
    .i-right-s {
      transform: scale(0.8);
      left: -3rem;
    }
    .i-right-s .blur {
      display: none;
    }
    .floating-div:nth-of-type(1){
      /* display: none; */
      top: -7rem !important;;
    }
  }
  