.n-wrappers-1 {
    padding: 0.5rem 3.5rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    top: 0;
    color: white;
    margin-top: 200px;
  }
  .n-left-1 {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
    /* margin-top: 5rem; */
  }
  
  .n-name-1 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    color: var(--white);
  }
  .n-right-1 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    margin-top: 5rem;
  }
  
  .n-list-2 {
    flex: 10;
    position: relative;
    margin-left: 8rem;
  }

  .n-list-2 > ul {
    display: flex;
    gap: 20rem;
    margin-right: 1rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: var(--gray-white);
  }
  
  .n-list > ul :hover {
    cursor: pointer;
  }
  
  .n-button {
    flex: 2;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
  }


  .n-button img{
    position: absolute;
    width: 12px;
    margin-left: 5px;
  }

  .n-button img:hover{
    color: var(--white);
  }

  .myVideo{
    position: absolute;
    min-width: 100px;
    top: 0;
    object-fit: cover;
    right: 0;
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }
  